.container#form.form
  .row.title.hidden-print
    .col-sm-6
      h1 HTML to PDF

    .col-sm-6.text-right
      a.btn.btn-success#exportForm Export page
  
  div#first-page
    .row.title
      .col-sm-12
        h2 First Page
        
    .row
      .col-sm-3.form-group
        label First Name
        input.form-control

      .col-sm-3.form-group
        label Last Name
        input.form-control

      .col-sm-3.form-group
        label Birthday
        input.form-control

      .col-sm-3.form-group
        label Email Address
        input.form-control

    .row.hidden-print
      .col-sm-12.form-group
        label Bio
        textarea.form-control
      
  div#second-page
    .row.title
      .col-sm-12
        h2 Second Page

    .row
      .col-sm-3.form-group
        label First Name
        input.form-control

      .col-sm-3.form-group
        label Last Name
        input.form-control

      .col-sm-3.form-group
        label Birthday
        input.form-control

      .col-sm-3.form-group
        label Email Address
        input.form-control

    .row
      .col-sm-12.form-group
        label Bio
        textarea.form-control